<div class="container" id="about">
<img src="/braintree-logo.png"/>
<img src="/twilio-logo.png"/>
<img src="/sendgrid-logo.png"/>
<img src="/aws-logo.jpg"/>
<img src="/heroku_logo.png"/>
<img src="/mongo-logo.jpeg"/>
<img src="/ruby-logo.gif"/>
<img src="/sinatra-logo.png"/>
<img src="/bootstrap-logo.png"/>
	
</div>
