<form id="checkout" method="post" action="/checkout_test">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Payment Option</h3>
		</div>
		<div class="panel-body">
			<label>
				<input type="radio" name="payment_plan" value="1">
				$15 for 1 year
			</label>
			<label>
				<input type="radio" name="payment_plan" value="2" checked>
				$26 for 3 years
			</label>
			<label>
				<input type="radio" name="payment_plan" value="3">
				$100 for lifetime membership
			</label>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Payment Details</h3>
		</div>
		<div class="panel-body">
			<div id="dropin"></div>
		</div>
	</div>

	<button type="submit" class="btn btn-primary btn-lg btn-block">Pay <span class="glyphicon glyphicon-usd" aria-hidden="true"></span></button>
</form>




