<form id="checkout" method="get" action="/braintree_test">
	<label for="user_phone">Your phone number:</label>
	<input type="text" name="user_phone">
	<input type="submit" value="Proceed to Payment">
</form>
