<html>
<head>
	<!-- Move this somewhere else in future. We don't need this on every page. -->
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script
	  src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"
	></script>
	<script>
	require.config({
		paths: {
			braintree: "https://assets.braintreegateway.com/v2/braintree"
		}
	});

	require(["braintree"], function (braintree) {
		braintree.setup(
			"<%= @client_token %>",
			'dropin', {
				container: 'dropin'
			}
		);
	});
	</script>
</head>

<body>

<%= yield %>

</body>

</html>

