<html>
<head>
	<!-- Move this somewhere else in future. We don't need this on every page. -->
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script>
	</script>
</head>

<body>

<%= yield %>

</body>

</html>

