<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header center-align">
      <a class="navbar-brand" href="/"><h1>EaaS</h1><p>Emergency as a Service</p></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	
    <% if session['loggedInPhone'] == nil %>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="/login">Login</a></li>
    <% else %>
    	<li><a href="/welcome">About EaaS</a></li>
        <li><a href="/logout">Logout</a></li>
    <% end %>
    </ul>
  </div><!--/.container-fluid -->
</nav>
