<!-- Main component for a primary marketing message or call to action -->
<div class="panel panel-primary">
	<div class="panel-heading">What is EaaS?</div>
	<div class="panel-body">
		<p class="lead">Emergency as a Service (EaaS) is a new way to ensure that your close friends & family will be informed in the case of an emergency.</p>
		
		<p>We provide an ICE phone number that when rang, will send custom SMS messages to those you wish to notify in an emergency. The caller will then be forwarded to the phone contact you have chosen.</p>
	</div>
	
</div>

<div class="panel panel-primary how-does-it-work">
	<div class="panel-heading">How does it work?</div>

	<div class="list-group">
		<div class="list-group-item">
			<span class="glyphicon glyphicon-user btn-lg" aria-hidden="true"></span>
			<h4 class="list-group-item-heading">Signup for an Account</h4>
			<p class="list-group-item-text"><p>Setup an account with us by <a href="/register">registering</a> - This will give you a special ICE phone number (In Case of Emergency)</p>
		</div>
		<div class="list-group-item">
			<span class="glyphicon glyphicon-list btn-lg" aria-hidden="true"></span>
			<h4 class="list-group-item-heading">Add Contacts</h4>
			<p class="list-group-item-text"><p>Add one or more contacts to your account, who you would like to know if anything happens</p></p>
		</div>
		<div class="list-group-item">
			<span class="glyphicon glyphicon-phone btn-lg" aria-hidden="true"></span>
			<h4 class="list-group-item-heading">Put your new ICE number into your phone</h4>
			<p class="list-group-item-text"><p>Use a prefix of "ICE-", this lets Authorities and other citizens know to use this phone number in an emergency</p>
		</div>
		<div class="list-group-item">
			<span class="glyphicon glyphicon-sunglasses btn-lg" aria-hidden="true"></span>
			<h4 class="list-group-item-heading">Relax</h4>
			<p class="list-group-item-text"><p>With our service, you can make the best of a bad situation.</p>
		</div>
	</div>

</div>

<div class="panel panel-primary">
	<div class="panel-heading">What now?</div>
	<div class="panel-body">
		<p>You can create an account with us by <a href="/register">registering</a>. If you have an account, <a href="/login">sign in</a> and add some contacts to your account.</p>

	</div>
	
</div>