
.contacts-list .expander-form{
	display: none;
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px;
}

.cl-confirm-button {
	float:right;
}

.list-group-item.removed {
	color:#444;
	background:#eee;
}

.cl-row-header strong {
	width: 30%;
	display: block;
	float: left;
}

.cl-row-header button {
	float:right;
	margin-left: 10px;
}

#about img {
	padding-top: 10px;
	width: 30%;
	margin-right: 1.5%;
	margin-left: 1%;
}

.cl-phone-contact .g-inputMessage {
	display: none;
}



#pplans label {
	display: block;
}
#pplans label input {
	margin-right: 6px;
}


#inputUserPhoneExt img {
	margin-right: 3px;
}


.how-does-it-work .glyphicon {
	float: left;
	margin: 0px 2px 4px 0px;
}